---
- hosts: application
  sudo: True
  roles:
    # - role: telusdigital.aws-infrastructure
    #   domain: teluswebteam.com
    #   required_systems:
    #     - application
    # - role: telusdigital.mariadb
    #   mariadb_server: yes
    #   mariadb_accepts_external_connections: yes
    - role: telusdigital.nginx
      nginx_php_enabled: yes
    - role: telusdigital.php
      php_modules:
        - php5-gd
        - php5-mysql
    - role: franklinkim.vsftpd
      vsftpd_service_enabled: yes
      vsftpd_service_state: started
      vsftpd_users:
        - username: ftpuser
          name: FTP User
          password: '$1$somesalt$mYIgWEVYblPgRwfPvotU51'
  vars:
    database_password: benji